<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.CusDao">

    <select id="findAll" resultType="customer" parameterType="String">
        SELECT * FROM customer
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <insert id="add" parameterType="customer">
        insert into customer(name,linkman,phone,createdate) values (#{name},#{linkman},#{phone},#{createdate})
    </insert>
</mapper>